@media (max-width: 1420px) {
    .admin-sidebar {
        width: 25%;
    }
    .page-content {
        width: 75%;
    }
    .meals-page {
        margin-top: 40px;
    }
    .admin-sidebar__logo {
        font-size: 44px;
    }
    .meals-page__title {
        font-size: 30px;
        margin-right: 10px;
    }
    .meals-page__add-btn {
        margin-right: 40px;
    }
    .meals-page__table td {
        font-size: 16px;
    }
    .meals-page__add-btn {
        width: 200px;
        margin-right: 20px;
    }
    .meals-page__select {
        font-size: 18px;
    }
}

@media (max-width: 1200px) {
    .admin-sidebar {
        width: 20%;
    }
    .admin-sidebar__container {
        padding: 10px 0 0 15px;
    }
    .admin-sidebar__link {
        font-size: 17px;
    }
    .page-content {
        width: 80%;
    }
    .page-container {
        padding: 0 10px 30px 30px;
    }
    .meals-page__checkbox-label {
        width: 68px;
        height: 25px;
    }
    .meals-page__checkbox-ball {
        width: 23px;
        height: 23px;
    }
    .meals-page__table-btn svg {
        width: 25px;
        height: 25px;
    }
}