.admin__top-menu {
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
}

.admin__top-menu__btn {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 15px;
}

.admin__top-menu__btn svg {
    width: 23px;
    height: 24px;
    fill: #766e6a;
}