*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Avenir Next", sans-serif;
}

button {
    font-family: "Avenir Next", sans-serif;
}

a{
    text-decoration: none;
    display: inline-block;
}

.container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px 10px;
}

.admin__container{
    max-width: 1440px;
}

.section__content{
    padding-top: 50px;
}

.grid__col-6{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid__col-4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid__col-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.d-flex{
    display: flex;
}

.admin-section__title {
    font-weight: 500;
    font-size: 30px;
    color: #fff;
    background-color: #00000070;
    padding: 10px;
    border-radius: 10px;
}

.admin-section__btn{
    font-size: 16px;
    line-height: 29px;
    color: #FFFFFF;
    width: 150px;
    height: 30px;
    background-color: #04932C;
    border: none;
    border-radius: 5px;
    margin-left: 112px;
    cursor: pointer;
    outline: none;
    transition: .3s;
}

.full-report-btn{
    width: 150px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 20px auto 0;
    cursor: pointer;
}

.admin-content{
    width: 80%;
    margin-left: 304px;
    background: url('../static/images/bg.png') no-repeat center/cover;
}