@media (min-width: 768px) {
    .auth__title {
        font-size: 50px;
    }

    .auth__input {
        padding: 10.64px 20px;
        font-size: 16px;
    }

    .auth__input::placeholder {
        font-size: 16px;
    }

    .auth__btn {
        height: 40px;
        font-size: 22px;
    }
}