.waiter-header{
    height: 48px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    display: flex;
    align-items: center;
}

.waiter-header__back-arrow{
    padding-left: 13px;
}

.waiter-header__title{
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    padding-left: 19px;
}